Source: tpm2-tss
Section: libs
Priority: optional
Maintainer: Mathieu Trudel-Lapierre <mathieu.trudel-lapierre@canonical.com>
Build-Depends: debhelper (>= 9), dh-autoreconf
Homepage: https://github.com/01org/TPM2.0-TSS
Standards-Version: 3.9.7

Package: libtss2-0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: TPM2 Software stack library - TSS and TCTI libraries
 TPM2.0 TSS (Software Stack) ...

Package: libtss2-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, libtss2-0 (= ${binary:Version})
Description: TPM2 Software stack library - development files
 TPM2.0 TSS (Software Stack) ...

Package: libtss2-utils
Architecture: any
Section: utils
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: TPM2 Software stack library - TSS utilities
 TPM2.0 TSS (Software Stack) ...

